@keyframes move_slide1 {
    0% {
        left: 0;
    }
    10% {
        left: 0;
    }
    15% {
        left: -100%;
    }
    25% {
        left: -100%;
    }
    30% {
        left: -200%;
    }
    40% {
        left: -200%;
    }
    45% {
        left: -300%;
    }
    55% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -100%;
    }
    85% {
        left: -100%;
    }
    90% {
        left: 0;
    }
    100% {
        left: 0;
    }
}

@keyframes move_slide2 {
    0% {
        left: 100%;
    }
    10% {
        left: 100%;
    }
    15% {
        left: 0;
    }
    25% {
        left: 0;
    }
    30% {
        left: -100%;
    }
    40% {
        left: -100%;
    }
    45% {
        left: -200%;
    }
    55% {
        left: -200%;
    }
    60% {
        left: -100%;
    }
    70% {
        left: -100%;
    }
    75% {
        left: 0;
    }
    85% {
        left: 0;
    }
    90% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes move_slide3 {
    0% {
        left: 200%;
    }
    10% {
        left: 200%;
    }
    15% {
        left: 100%;
    }
    25% {
        left: 100%;
    }
    30% {
        left: 0;
    }
    40% {
        left: 0;
    }
    45% {
        left: -100%;
    }
    55% {
        left: -100%;
    }
    60% {
        left: 0;
    }
    70% {
        left: 0;
    }
    75% {
        left: 100%;
    }
    85% {
        left: 100%;
    }
    90% {
        left: 200%;
    }
    100% {
        left: 200%;
    }
}

@keyframes move_slide4 {
    0% {
        left: 300%;
    }
    10% {
        left: 300%;
    }
    15% {
        left: 200%;
    }
    25% {
        left: 200%;
    }
    30% {
        left: 100%;
    }
    40% {
        left: 100%;
    }
    45% {
        left: 0;
    }
    55% {
        left: 0;
    }
    60% {
        left: 100%;
    }
    70% {
        left: 100%;
    }
    75% {
        left: 200%;
    }
    85% {
        left: 200%;
    }
    90% {
        left: 300%;
    }
    100% {
        left: 300%;
    }
}

.slider {
    width: 100%;
    background: lightcyan;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    min-height: 450px;
}

.slider .slider__slides {
}

.slider .slider__slide {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider .slider__slide:first-child {
    background-image: url("./media/img1.jpg");
    animation-name: move_slide1;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.slider .slider__slide:nth-child(2) {
    background-image: url("./media/img2.jpg");
    left: 100%;
    animation-name: move_slide2;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.slider .slider__slide:nth-child(3) {
    background-image: url("./media/img3.jpg");
    left: 200%;
    animation-name: move_slide3;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.slider .slider__slide:last-child {
    background-image: url("./media/img4.jpg");
    left: 300%;
    animation-name: move_slide4;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.slider .slider__wrapper {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.slider .slider__hdl {
    font-family: "Times New Roman", Times, Baskerville, Georgia, sans-serif;
    margin-top: 0;
}

.slider .slider__description {
    font-family: "Times New Roman", Times, Baskerville, Georgia, sans-serif;
}

.slider .slider__link {
    font-family: "Times New Roman", Times, Baskerville, Georgia, sans-serif;
    align-self: flex-end;
}

.slider .slider__nav {
}

.nav {
}

.nav .nav__btn {
}

.nav .nav__btn--prev {
}